.input {
    background: transparent;
    padding-left: 20px;
    border: none;
    outline: none;
    /* font-family: 'Open Sans', Arial, Verdana; */
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    width: 100%;
  }