.SearchBar {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 70px;
  margin-bottom: 32px;

  text-align: center;

  background-color: #101014;
  border-radius: 50px;
}

.SearchBar-Error {
  position: absolute;
  right: -40%;
  bottom: 27.5px;

  color: #fff;
}
