.SearchImagesBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 32px;
  padding-right: calc(50% - 500px);
  padding-left: calc(50% - 500px);

  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: cover;
}
