.button-search {
  width: 60px;
  height: 50px;
  margin: 10px;
  border-radius: 30px;
  border: none;
  outline: none;
  background-color: #fff;
  transition: all 0.3s ease;
}

.button-search:disabled {
  background-color: #cccccc;
}

.button-search .icon-search {
  width: 22px;
  height: 22px;
  display: inline-block;
  position: relative;

  transform: rotate(45deg);
}

.button-search .icon-search::before {
  position: absolute;
  content: '';
  width: 4px;
  height: 11px;
  left: 9px;
  top: 18px;
  border-radius: 2px;
  background: #fe5f55;
}

.button-search .icon-search::after {
  position: absolute;
  content: '';
  width: 14px;
  height: 14px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border: 4px solid #fe5f55;
}

.button-search:hover {
  cursor: pointer;
}
